// Colors
$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF9800;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;
$background:			#F5F5F5;

@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}  
}
@mixin smoothtransition {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

// Globals
html body {
	img {
		height: auto;
		width: auto;
		max-width: 100%;
		max-height: 100%;
	}
	.nopad {
		padding: 0 !important;
	}
	.nomar {
		margin: 0!important;
	}
	main {
		width: 100%;
	}
	main {
		h1, h2, h3, h4, h5, h6 {
			color: $primary-color;
		}
	}
	h3, h4, h5, h6 {
		font-weight: 200;
	}
	
	a:hover, a h2:hover, a h1:hover {
		color: $accent-color !important;
		text-shadow: 0px 8px 5px rgba(0,0,0,0.3);
		@include smoothtransition;
	}
	.text-depth-1 {
		text-shadow: 0px 8px 5px rgba(0,0,0,0.3);
	}
	.primary {
		background-color: $primary-color;
	}
	.accent-text {
		color: $accent-color;
	}
	.flow-text {
		@media screen and  ( min-width: 700px ) {
			zoom: 0.9;
		}
		@media screen and  ( min-width: 960px ) {
			zoom: 0.8;
		}
	}
	.btn {
		background-color: $accent-color;
		margin-top: 10px;
		padding: 10px 20px;
		height: auto;
		&:hover {
			background-color: $accent-color;
			opacity: 0.7;
		}
	}
	#searchform {
		i {
			top: 10px;
			position: absolute;
		}
	}
}

// Header
// Widget specific
#wprmemail{
	@include placeholder {
		color: grey;
		text-align: center;
	}
	text-align: center;
	&:focus {
		border-bottom: 1px solid $accent-color;
		box-shadow: 0 1px 0 0 $accent-color;
	}
}
// Widget specific

.navbar {
	position: absolute;
	width: 100%;
	#main-nav {
		padding: 0 10px;
		background-color: $primary-color-dark;
		ul {
			display: inline-block;
			text-align: center;
			li {
				position: relative;
			}
		}
	}
	.brand-logo {
		padding: 0 10px;
	}
	#mobile-nav.side-nav {
		text-align: left;
		.sub-menu {
			padding-left: 15px;
		}
	}
	#desktopmenu .sub-menu {
		position: absolute;
		left: 0;
		width: 100%;
		li {
			width: 100%;
			display: none;
			background-color: rgb(25, 118, 210);
			margin: 4px 0px;
			border-radius: 2px;
			a {
				width: 100%;
				&:hover {
					background-color: rgba(0, 0, 0, 0);
				}
			}
		}
		&:hover {
			display: block;
			@include smoothtransition;
		}
	}
	.navwidget {
		height: 100%;
		padding: 10px 0;
		width: 280px;
		position: absolute;
		right: 0;
		top: 0;
		#searchform i {
			position: absolute;
			left: -5px;
			top: -9px;
			color: rgba(255, 255, 255, 0.80);
			font-size: 1rem;
		}
		form, .input-field, .input-field input {
			height: 100%;
		}
		@include placeholder {
			font-size: 1rem;
		}
		.input-field input[type=search] {
			padding: 0 20px;
			margin: 0;
			font-size: 1rem;
			&:hover, &:focus {
				box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
				background: white;
				padding: 0 10px;
				width: 90%;
				margin-left: -10px;
				i {
					display: none;
				}
			}
		}
	}
}
#header-intro {
	height: 600px;
	@media screen and  ( max-width: 968px ) {
		height: 750px;
	}
	background-color: $primary-color;
	.valign-wrapper {
		height: 100%;
	}
	#title {
		font-size: 4.2rem;
		line-height: 110%;
		margin: 2.1rem 0 1.68rem 0;
	}
	#subtitle {
		font-style: italic;
	}
	a {
		@include smoothtransition;
	}
}

// Container

#container {
	#content {
		padding-top: 50px;
		margin-top: -125px;
	}
}

// Index

.featured, .smalllist {
	.circle {
		height: 150px !important;
		width: 150px !important;
	}
}

.search, .home, .archive {
	#header-intro {
		max-height: 100vh;
	}
	article {
		&.smalllist, &.featured {
			& {
				@include smoothtransition;
			}
			&:hover {
				img {
					box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
				}
				h2, section {
					text-shadow: 0px 8px 5px rgba(0,0,0,0.3);
				}
			}
		}
		&.bottomlist, header img, header h2, section {
			@include smoothtransition;
		}

		
	}
	.featured {
		padding: 5em 0;
		h2 {
			font-size: 2em;
			color: black;
		}
	}
	.entry-meta {
		a {
			color: $primary-text-color;
		}
	}
	.smalllist {
		padding: 20px;
		header {
			min-height: 300px;
			padding: 20px;
		}
		h2 {
			font-size: 1.2em;
			color: black;
		}
	}
	article.bottomlist {
		&:hover {
			box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		}
		h2 {
			font-size: 1em;
			color: black;
			margin: 0;
			text-align: left;
		}
		.imgwrap {
			margin-right: 20px;
		}
		img {
			height: 100px;
			width: 100px;
		}
		@media screen and  ( max-width: 968px ) {
			img {
				height: 80px;
				width: 80px;
			}
		}
		@media screen and  ( max-width: 550px ) {
			img {
				height: 60px;
				width: 60px;
			}
		}
		padding: 15px;
		margin: 10px 0;
		min-height: 136px;
		@media screen and  ( max-width: 968px ) {
			min-height: 60px;
		}
	}
}

article.featured.first {
	padding-top: 15px;
}

.card-image.black {
	img {
		// opacity: 0.8;
	}
	.entry-title {
		width: 100%;
		background-color: $divider-color;
	}
}
article {
	&.featured {

	}
	&.medium {
		.entry-title {
			font-size: 1.2em;
		}
	}
	&.small {
		.entry-title {
			font-size: 1em;
		}
	}
}

#archive {
	margin: 3em 0;
	.collection{
		padding: 20px;
		.valign-wrapper {
			padding: 20px 0;
			img {
				margin-right: 20px;
			}
		}
		.collection-item {
			font-size: 1.5em;
		}
		a {
			color: black;
			&:hover {
				color: $accent-color;
			}
		}
		img {
			height: 50px;
			width: 50px;
		}
	}

}

// Pages
#pagewrap {
	padding: 20px;
}

// Single
.single {
	#container {
		#content {
			padding-top: 0;
			margin-top: -50px;
		}
	}
	.col {
		padding-left: 0;
		padding-right: 0;
	}
	.entry-content {
		div, img, ul, li, p {
			max-width: 100%;
		}
		ul {
			padding-left: 45px;
			margin: 25px 0;
			li {
				list-style-type: disc;
			}
		}
	}
	.featuredimage {
		img {
			width: 100%;
			height: auto;
		}
	}
	.entry-meta {
		font-style: italic;
		a {
			color: white;
			&:hover {
				color: $accent-color;
			}
		}
	}
	iframe {
		width: 100%;
	}
	#article {
		img, iframe {
			@include smoothtransition;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
			padding: 10px;
			&:hover {
				box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
				@include smoothtransition;
			}
			width: 100%;
		}
	}
	#comments {
		padding-top: 30px;
		margin-top: 30px;
		border-top: 1px solid $divider-color;
		#listed-comments {
			li {
				ul li {
					padding-left: 20px;
				}
				article {
					padding: 20px;
					position: relative;
					margin: 0.5rem 0 1rem 0;
					background-color: #fff;
					transition: box-shadow .25s;
					border-radius: 2px;
					box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
					-webkit-transition-duration: 0.2s;
					transition-duration: 0.2s;
					&:hover {
						box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
						-webkit-transition-duration: 0.2s;
						transition-duration: 0.2s;
					}
					p {
						margin: 0;
					}
					a {
						font-size: 0.8em;
						&:hover {
							color: $accent-color;
						}
					}
					.comment-author.vcard {
						float: left;
						display: -webkit-flex;
						display: -ms-flexbox;
						display: flex;
						-webkit-align-items: center;
						-ms-flex-align: center;
						align-items: center;
						b, span {
							padding-left: 10px;
						}
						img {
							border-radius: 50%;
						}
					}

					.comment-metadata {
						float: right;
					}

					footer.comment-meta {
						display: inline-block;
						width: 100%;
					}
				}
			}
			.comment-meta a {
				font-size: 15px;
				font-style: italic;
				color: $primary-text-color;
			}
		}
		#respond #commentform {
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
			position: relative;
			margin: 0.5rem 0 1rem 0;
			background-color: #fff;
			border-radius: 2px;
			padding: 20px;
			@include smoothtransition;
			&:hover {
				@include smoothtransition;
				box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
			}
			textarea {
				height: 8rem;
				border: 1px $divider-color solid;
				border-radius: 2px;
			}
			#submit {
				color: #fff;
				background-color: $primary-color;
				text-align: center;
				border: none;
				border-radius: 2px;
				padding: 10px;
				text-transform: uppercase;
				-webkit-tap-highlight-color: transparent;
				box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
				font-size: 0.8em;
				@include smoothtransition;
				&:hover {
					@include smoothtransition;
					box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
				}
			}
		}
	}
}

// Shortcode stuff
.box {
	width: 100%;
	display: inline-block;
	padding: 20px;
}


// Footer

footer.page-footer {
	background-color: $primary-color;
	.footwidget {
		a {
			color: white;
		}
	}
}

// Make it sticky
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
// Sensei
#post-entries {
	background-color: $primary-color;
}