html body img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%; }
html body .nopad {
  padding: 0 !important; }
html body main {
  width: 100%; }
html body main h1, html body main h2, html body main h3, html body main h4, html body main h5, html body main h6 {
  color: #2196F3; }
html body h3, html body h4, html body h5, html body h6 {
  font-weight: 200; }
html body a:hover, html body a h2:hover, html body a h1:hover {
  color: #FF9800 !important;
  text-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
html body .text-depth-1 {
  text-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3); }
html body .primary {
  background-color: #2196F3; }

.navbar {
  position: absolute;
  width: 100%; }
  .navbar nav#main-nav {
    padding: 0 10px;
    background-color: #1976D2; }
    .navbar nav#main-nav ul {
      display: inline-block;
      text-align: center; }
      .navbar nav#main-nav ul li {
        position: relative; }
  .navbar .brand-logo {
    padding: 0 10px; }
  .navbar ul#mobile-nav.side-nav {
    text-align: left; }
    .navbar ul#mobile-nav.side-nav .sub-menu {
      padding-left: 15px; }
  .navbar #desktopmenu .sub-menu {
    position: absolute;
    left: 0;
    width: 100%; }
    .navbar #desktopmenu .sub-menu li {
      width: 100%;
      display: none;
      background-color: rgba(0, 0, 0, 0.1);
      margin: 4px 0px;
      border-radius: 2px; }
      .navbar #desktopmenu .sub-menu li a {
        width: 100%; }
        .navbar #desktopmenu .sub-menu li a:hover {
          background-color: transparent; }
    .navbar #desktopmenu .sub-menu:hover {
      display: block;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
  .navbar .navwidget {
    height: 100%;
    padding: 10px 0;
    width: 250px;
    position: absolute;
    right: 0;
    top: 0; }
    .navbar .navwidget i {
      position: absolute;
      left: -5px;
      top: -9px;
      color: rgba(255, 255, 255, 0.8);
      font-size: 1rem; }
    .navbar .navwidget form, .navbar .navwidget .input-field, .navbar .navwidget .input-field input {
      height: 100%;
      width: 100%; }
    .navbar .navwidget ::-webkit-input-placeholder {
      font-size: 1rem; }
    .navbar .navwidget :-moz-placeholder {
      font-size: 1rem; }
    .navbar .navwidget ::-moz-placeholder {
      font-size: 1rem; }
    .navbar .navwidget :-ms-input-placeholder {
      font-size: 1rem; }
    .navbar .navwidget .input-field input[type=search] {
      padding: 0 20px;
      margin: 0;
      font-size: 1rem; }
      .navbar .navwidget .input-field input[type=search]:hover, .navbar .navwidget .input-field input[type=search]:focus {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        background: white;
        padding: 0 10px;
        width: 90%;
        margin-left: -10px; }
        .navbar .navwidget .input-field input[type=search]:hover i, .navbar .navwidget .input-field input[type=search]:focus i {
          display: none; }

#header-intro {
  height: 600px;
  background-color: #2196F3; }
  #header-intro .valign-wrapper {
    height: 100%; }
  #header-intro #title {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0; }
  #header-intro #subtitle {
    font-style: italic; }
  #header-intro a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

#container #content {
  padding-top: 50px;
  margin-top: -125px; }

.search article.smalllist, .search article.featured, .home article.smalllist, .home article.featured, .archive article.smalllist, .archive article.featured {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
.search article.smalllist:hover img, .search article.featured:hover img, .home article.smalllist:hover img, .home article.featured:hover img, .archive article.smalllist:hover img, .archive article.featured:hover img {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
.search article.smalllist:hover h2, .search article.smalllist:hover section, .search article.featured:hover h2, .search article.featured:hover section, .home article.smalllist:hover h2, .home article.smalllist:hover section, .home article.featured:hover h2, .home article.featured:hover section, .archive article.smalllist:hover h2, .archive article.smalllist:hover section, .archive article.featured:hover h2, .archive article.featured:hover section {
  text-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3); }
.search article.bottomlist, .search article header img, .search article header h2, .search article section, .home article.bottomlist, .home article header img, .home article header h2, .home article section, .archive article.bottomlist, .archive article header img, .archive article header h2, .archive article section {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
.search .featured, .home .featured, .archive .featured {
  padding: 5em 0; }
  .search .featured h2, .home .featured h2, .archive .featured h2 {
    font-size: 2em;
    color: black; }
.search .entry-meta a, .home .entry-meta a, .archive .entry-meta a {
  color: #212121; }
.search .smalllist, .home .smalllist, .archive .smalllist {
  padding: 20px; }
  .search .smalllist header, .home .smalllist header, .archive .smalllist header {
    min-height: 300px;
    padding: 20px; }
  .search .smalllist h2, .home .smalllist h2, .archive .smalllist h2 {
    font-size: 1.2em;
    color: black; }
.search article.bottomlist, .home article.bottomlist, .archive article.bottomlist {
  padding: 15px;
  margin: 10px 0;
  min-height: 136px; }
  .search article.bottomlist:hover, .home article.bottomlist:hover, .archive article.bottomlist:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .search article.bottomlist h2, .home article.bottomlist h2, .archive article.bottomlist h2 {
    font-size: 1em;
    color: black;
    margin: 0;
    text-align: left; }
  .search article.bottomlist img, .home article.bottomlist img, .archive article.bottomlist img {
    height: 100px;
    width: 100px;
    margin-right: 20px; }

article.featured.first {
  padding-top: 15px; }

.card-image.black .entry-title {
  width: 100%;
  background-color: #B6B6B6; }

article.medium .entry-title {
  font-size: 1.2em; }
article.small .entry-title {
  font-size: 1em; }

#archive {
  margin: 3em 0; }
  #archive .collection {
    padding: 20px; }
    #archive .collection .valign-wrapper {
      padding: 20px 0; }
      #archive .collection .valign-wrapper img {
        margin-right: 20px; }
    #archive .collection .collection-item {
      font-size: 1.5em; }
    #archive .collection a {
      color: black; }
      #archive .collection a:hover {
        color: #FF9800; }
    #archive .collection img {
      height: 50px;
      width: 50px; }

.single #container #content {
  padding-top: 0;
  margin-top: -50px; }
.single .col {
  padding-left: 0;
  padding-right: 0; }
.single .entry-content ul {
  padding-left: 45px;
  margin: 25px 0; }
  .single .entry-content ul li {
    list-style-type: disc; }
.single .featuredimage img {
  width: 100%;
  height: auto; }
.single .entry-meta {
  font-style: italic; }
  .single .entry-meta a {
    color: white; }
    .single .entry-meta a:hover {
      color: #FF9800; }
.single iframe {
  width: 100%; }
.single img, .single iframe {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .single img:hover, .single iframe:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
.single #comments {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #B6B6B6; }
  .single #comments ul#listed-comments li ul li {
    padding-left: 20px; }
  .single #comments ul#listed-comments li article {
    padding: 20px;
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s; }
    .single #comments ul#listed-comments li article:hover {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s; }
    .single #comments ul#listed-comments li article p {
      margin: 0; }
    .single #comments ul#listed-comments li article a {
      font-size: 0.8em; }
      .single #comments ul#listed-comments li article a:hover {
        color: #FF9800; }
    .single #comments ul#listed-comments li article .comment-author.vcard {
      float: left;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .single #comments ul#listed-comments li article .comment-author.vcard b, .single #comments ul#listed-comments li article .comment-author.vcard span {
        padding-left: 10px; }
      .single #comments ul#listed-comments li article .comment-author.vcard img {
        border-radius: 50%; }
    .single #comments ul#listed-comments li article .comment-metadata {
      float: right; }
    .single #comments ul#listed-comments li article footer.comment-meta {
      display: inline-block;
      width: 100%; }
  .single #comments ul#listed-comments .comment-meta a {
    font-size: 15px;
    font-style: italic;
    color: #212121; }
  .single #comments #respond #commentform {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .single #comments #respond #commentform:hover {
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .single #comments #respond #commentform textarea {
      height: 8rem;
      border: 1px #B6B6B6 solid;
      border-radius: 2px; }
    .single #comments #respond #commentform #submit {
      color: #fff;
      background-color: #2196F3;
      text-align: center;
      border: none;
      border-radius: 2px;
      padding: 10px;
      text-transform: uppercase;
      -webkit-tap-highlight-color: transparent;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      font-size: 0.8em;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .single #comments #respond #commentform #submit:hover {
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.box {
  width: 100%;
  display: inline-block;
  padding: 20px; }

footer.page-footer {
  background-color: #2196F3; }
  footer.page-footer .footwidget a {
    color: white; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

/*# sourceMappingURL=style.css.map */
