// Colors
$primary-color-dark:   #D32F2F;
$primary-color:        #F44336;
$primary-color-light:  #FFCDD2;
$primary-color-text:   #FFFFFF;
$accent-color:         #448AFF;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

$background:			#F5F5F5;

// Globals
img {
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100%;
}
.nopad {
	padding: 0 !important;
}

body, main {
	background-color: $background;
}

// Header

.navbar {
	nav#main-nav {
		background-color: $divider-color;
		.nav-wrapper {
			ul {
				display: inline-block;
			}
			div {
				text-align: center;
			}
		}
	}
}
#header-intro {
	height: 100vh;
	background-color: $primary-color;
	.valign-wrapper {
		height: 100%;
	}
	#subtitle {
		font-style: italic;
	}
}

// COntainer

#container {
	#content {
		padding-top: 50px;
	}
}

// Index

.card-image.black {
	img {
		// opacity: 0.8;
	}
	.entry-title {
		width: 100%;
		background-color: $divider-color;
	}
}
article {
	&.featured {

	}
	&.medium {
		.entry-title {
			font-size: 1.2em;
		}
	}
	&.small {
		.entry-title {
			font-size: 1em;
		}
	}
}

#archive {
	margin: 3em 0;
	.collection{
		padding: 20px;
		.valign-wrapper {
			padding: 20px 0;
			img {
				margin-right: 20px;
			}
		}
		.collection-item {
			font-size: 1.5em;
		}
		a {
			color: black;
		}
		img {
			height: 50px;
			width: 50px;
		}
	}

}

// Footer

footer.page-footer {
	background-color: $primary-color;
}

// Make it sticky
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
