// Header

nav {
	.nav-wrapper {
		padding: 0 10px;
	}
}

#header-intro {
	height: 500px;

	.valign-wrapper {
		height: 100%;
	}
}

// Footer

// Make it sticky
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
